@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; /* FIXED */
    padding: 58px 10%;
    gap: 10px;
}

.text h2 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text p {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 40px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

/* Mobile */
@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 23px;
        align-items: center;
        padding: 40px 5%;
    }
   
        .link a {
            font-size: 20px;   /* change to whatever size you want */
        }
    
    
    .text h2 {
        font-size: 50px;
        text-align: center;
    }

    .text p {
        font-size: 28px;
        text-align: center;
    }

    .links {
        width: 100%;               /* allows left alignment */
        display: flex;
        flex-direction: column;
        align-items: flex-start;   /* TRUE left alignment */
        gap: 30px;
    }

    .link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        width: 100%;               /* prevents centering */
    }

    .icon {
        font-size: 32px;
        min-width: 32px;           /* icons line perfectly */
        text-align: left;
    }
}
