@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Inter:wght@300;400;500;600&display=swap');

:root {
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;
}


:root{

    --color-text: #fff;
    --color-primary:#576cbc;
    --color-secondary:#19376d;
    --color-dark:#0b2447;
    --color-bg:#04152d;

    --font-robot:"Roboto"
}
